<ion-view view-title="Profile">
  <ion-content>
    <div class="phone-box wrap push">
                    <div class="parker">

                        <div class="menu-notify1">
                                <div class="profile-left">
                                        <a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
                                </div>
                                <div class="Profile-right">
                                        <div id="dd3" class="wrapper-dropdown-3" tabindex="1"><i class="fa fa-bars"></i>
                                                <ul class="dropdown">
                                                        <li><a href="#">Edit Profile </a></li>
                                                        <li><a href="#">Help</a></li>
                                                        <li><a href="#">Activity log</a></li>
                                                        <li><a href="#">Log Out</a></li>
                                                </ul>
                                            
                                        </div>
                                </div>
                                <div class="clearfix"></div>
                        </div>
                        <div class="parker-img text-center">
                                <img class="profile-img img-circle border-effect2" src="../img/africanFace.jpg" alt="">
<!--                            {{}} use it to retrieve the logd in user-->
                                <h2>Thandi Sabungile</h2>
                                <p>Your Profile</p>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="like-icons">
                                        <ul>
                                                <li>
                                                        <a href="#"><i class="fa fa-user"></i></a>
                                                        <p>Profile</p>
                                                </li>
                                                <li>
                                                        <a href="page2.html"><i class="fa fa-bar-chart"></i></a>
                                                        <p>Stats</p>
                                                </li>
                                                <li>
                                                        <a href="page3.html"><i class="fa fa-pencil"></i></a>
                                                        <p>Tips</p>
                                                </li>
                                                <li>
                                                        <a href="new_goal.html"><i class="fa fa-picture-o"></i></a>
                                                        <p>Goals</p>
                                                </li>
                                                <li>
                                                        <a href="#"><i class="fa fa-tags"></i></a>
                                                        <p>Tags</p>
                                                </li>
                                        </ul>
    
                                </div>
                        </div>
			</div>
		</div>
	</div>
</div>



<!--
<script id="templates/profile.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              Learn Ionic
            </a>
            <a class="item" href="http://ionicframework.com/docs/" target="_blank">
              Documentation
            </a>
            <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
              Showcase
            </a>
            <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
              Submit an Issue
            </a>
            <a class="item" href="https://github.com/driftyco/ionic" target="_blank">
              Github Repo
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
-->

  </ion-content>
</ion-view>
